.imageRoot {
    width: 45%;
    flex-shrink: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    animation-name: css-0;
    animation-duration: 0.367s;
    animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
    animation-fill-mode: both;
    text-overflow: ellipsis;
}

.image {
    display: block;
    opacity: 1;
    height: auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.smallImage {
    display: block;
    opacity: 1;
    height: auto;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
}

.dialogContent {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-flow: column nowrap;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.welcome {
    color: #305252;
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
}

.dialogText1 {
    text-align: center;
    margin-bottom: 8px;
}

.dialogText2 {
    text-align: center;
    margin-bottom: 8px;
}

.skip {
    color: inherit !important;
}

@media (max-width: 770px) {
    .image {
        display: block;
        opacity: 1;
        height: auto;
        width: 45%;
        margin-left: auto;
        margin-right: auto;
    }

    .welcome {
        color: #305252;
        text-align: center;
        margin-top: 10px;
        font-size: 24px;
        margin-bottom: 0px;
    }

    .dialogActionButtons {
        display: none;
        visibility: hidden;
    }

    .dialogText1 {
        text-align: center;
        margin-bottom: 8px;
        font-size: 16px; 
    }
}
